body {
  font-family: neue-haas-grotesk-text, helvetica;
  font-size: 16px;
  background-color: #F9F8F5;
}

html {
  scroll-behavior: smooth;
}

/* remove default styles */

h1, h2 ,h3, h4, p{
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

figure {
  margin: 0;
}

body {
  margin: 0px;
}


/* container rules */

.page-width {
  margin: 0px 30px;
}

body {
  overflow: visible;
}

nav {
  position: sticky;
  top: 0px;
  background-color: inherit;

}

.site-navigation {
  display: flex;
  flex-direction: row;
  padding: 12px 0px;

}

.navigation-items {
  display: flex;
  flex-direction: row;
  margin-left: 6vw;
  width: 24vw;
  margin-top: 12px;
  justify-content: space-between;
}

.home-callout-container, .home-articles-container, .article-page {
  padding-left: 8vw;
}

.home-content {
  display: flex;
  height: calc( 100vh - 103px );
  flex-direction: column;
  justify-content: space-between;
}

.home-callout-container {
  margin-top: 10vw;
  z-index: 1;
}

.home-articles-container {
 margin-bottom: 20px; 
}

.article-image {
  position: absolute;
  bottom: 20px;
  right: 30px;
  width: 40vw;
}

.article-page {
  margin: 15vh 10vh;
}

.article-header {
margin-bottom: 60px;
}  

.article-breadcrumb {
  padding-bottom: 10px;
}

.article-title {
  padding-bottom: 6px;
}

.article-content {
  width: 54vw;
  margin-bottom: 12vw;
}

.in-article-image-container {
  padding: 36px 0px;
}

.in-article-image {
  max-width: 54vw;
}

.article-paragraph {
  padding: 20px 0px;
}

.article-pullquote {
  padding: 30px 0px;
}

/* type rules */

.site-logo {
  font-size: 2em;
}

.nav-item {
  font-size: 1.25em;
}

.home-article-item:hover, .nav-item:hover {
  font-style: italic;
}
.home-callout {
  font-size: 5em;
  line-height: 1;
}

.home-articles-title {
  font-size: 1em;
}

.home-article-item {
  font-size: 2.5em;
  padding: 6px 0px;
}

.article-breadcrumb {
  font-size: 1.2em;
}

.article-title {
  font-size: 4em;
}

.article-author-date {
  font-size: 1em;
}

.article-paragraph {
  text-indent: 36px;
}

.article-pullquote {
  font-size: 2.5em;
}

.article-back-to-top-btn {
  border: 1px solid black;
  padding: 6px 12px;
  border-radius: 25px;
  transition: background-color 50ms ease-in-out 0ms;
}

.article-back-to-top-btn:hover {
  background-color: black;
  color: #F9F8F5;
}

.article-image-caption {
  font-size: 0.8em;
}



/* show article image on article hovers */

.article-image {
  opacity: 0;
  transition: opacity 50ms ease-in 0ms;
}


@media all and (min-width: 1200px) {

.blog-1:hover ~ .blog-1-image {
  opacity: 1;
}



}


