body {
  font-family: neue-haas-grotesk-text, helvetica;
  font-size: 16px;
  background-color: #F9F8F5;
}

/* remove default styles */

h1, h2 ,h3, h4, p{
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

main { 
  width: 100%;
}
.page-width {
  margin: 0px 30px;
}

/* container rules */

.site-navigation {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.navigation-items {
  display: flex;
  flex-direction: row;
  margin-left: 6vw;
  width: 24vw;
  justify-content: space-between;
}

.home-callout-container, .home-articles-container {
  padding-left: 8vw;
}

.main-content {
  display: flex;
  height: calc( 100vh - 103px );
  flex-direction: column;
  justify-content: space-between;
}

.home-callout-container {
  margin-top: 10vw;
  z-index: 1;
}

.home-articles-container {
 margin-bottom: 20px; 
}

.article-image {
  position: absolute;
  bottom: 20px;
  right: 30px;
  width: 40vw;
}




/* type rules */

.site-logo {
  font-size: 2em;
}

.nav-item {
  font-size: 1.25em;
}

.home-callout {
  font-size: 5em;
  line-height: 1;
}

.home-articles-title {
  font-size: 1em;
}

.home-article-item {
  font-size: 2.5em;
  padding: 6px 0px;
}

/* show article image on article hovers */

.article-image {
  opacity: 0;
  transition: opacity 50ms ease-in 0ms;
}


@media all and (min-width: 1200px) {

.blog-1:hover ~ .blog-1-image {
  opacity: 1;
}


}


