body {
  font-family: neue-haas-grotesk-text, helvetica;
  font-size: 16px;
  background-color: #F9F8F5;
}

html {
  scroll-behavior: smooth;
}

::selection {
  color: #F9F8F5;
  background-color: #405320;
}

/* remove default styles */

h1, h2 ,h3, h4, p{
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

figure {
  margin: 0;
}

body {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  display: block;

}


/* container rules */

.page-width {
  margin: 0px 30px;
}

body {
  overflow: visible;
}

nav {
  position: sticky;
  top: 0px;
  background-color: inherit;

}

.site-navigation {
  display: flex;
  flex-direction: row;
  padding: 12px 0px;

}

.navigation-items {
  display: flex;
  flex-direction: row;
  margin-left: 6vw;
  width: auto;;
  margin-top: 12px;
  justify-content: space-between;
}

.nav-item {
  margin-right: 30px;
}

.home-callout-container, .home-articles-container, .article-page {
  padding-left: 8vw;
}

.home-content {
  display: flex;
  height: calc( 100vh - 103px );
  flex-direction: column;
  justify-content: space-between;
}

.home-callout-container {
  margin-top: 6vw;
  z-index: 1;
}

.home-articles-container {
 margin-bottom: 20px; 
}

.article-image {
  position: absolute;
  bottom: 20px;
  right: 30px;
  width: 40vw;
}

.article-page {
  margin: 15vh 0px 10vh;
}

.article-header {
margin-bottom: 60px;
}  

.article-breadcrumb {
  padding-bottom: 10px;
}

.article-title {
  padding-bottom: 6px;
}

.article-content {
  width: 64vw;
  margin-bottom: 12vw;
}

.in-article-image-container {
  padding: 36px 0px;
}

.in-article-image {
  max-width: 64vw;
}

.article-paragraph {
  padding: 20px 0px;
}

.article-pullquote {
  padding: 30px 0px;
}

/* type rules */

.site-logo {
  font-size: 2em;
}

.nav-item {
  font-size: 1.25em;
  height: fit-content;
}

.home-article-item:hover, .nav-item:hover {
  font-style: italic;
}
#home-callout {
  font-size: 4em;
  line-height: 1;
}

.home-articles-title {
  font-size: 1em;
}

.home-article-item {
  font-size: 1.75em;
  padding: 6px 0px;
}

.article-breadcrumb {
  font-size: 1.2em;
}

.article-title {
  font-size: 4em;
}

.article-author-date {
  font-size: 1em;
}

.article-paragraph {
  text-indent: 36px;
}

.article-paragraph-heading {
  font-size: 1.75em;
  padding: 20px 0px 10px;
}

.article-pullquote {
  font-size: 2.5em;
}

.article-back-to-top-btn {
  border: 1px solid black;
  padding: 6px 12px;
  border-radius: 25px;
  transition: background-color 50ms ease-in-out 0ms;
}

.article-back-to-top-btn:hover {
  background-color: black;
  color: #F9F8F5;
}

.article-image-caption {
  font-size: 0.8em;
}



/* show article image on article hovers */

.article-image {
  opacity: 0;
  transition: opacity 50ms ease-in 0ms;
}

@media all and (min-width: 1500px) {
  #home-callout {
    font-size: 5em;
  }

  .home-article-item {
    font-size: 2.5em;
  }
}

@media all and (min-width: 1200px) {

.blog-1:hover ~ .blog-1-image {
  opacity: 1;
}
.blog-2:hover ~ .blog-2-image {
  opacity: 1;
}
.blog-3:hover ~ .blog-3-image {
  opacity: 1;
}
.blog-4:hover ~ .blog-4-image {
  opacity: 1;
}
.blog-5:hover ~ .blog-5-image {
  opacity: 1;
}
.blog-6:hover ~ .blog-6-image {
  opacity: 1;
}
}


/* responsive media queries */

@media all and ( max-width: 768px ){

  .page-width {
    margin: 0px 15px;
  }

  .site-navigation {
    flex-direction: column;
  }

  .navigation-items {
    max-width: 250px;
    margin-left: 0px
  }

.home-callout-container, .home-articles-container, .article-page {
  padding-left: 0vw;
}

.article-page {
  margin-top: 10vh;
}

.article-title {
  font-size: 3em;
}

.article-pullquote {
  font-size: 1.75em;
  padding: 20px 0px;
}
.site-logo {
  font-size: 1.5em;
}
.nav-item {
  font-size: 1em;
  margin-right: 20px;
}
.article-content {
  width: 100%;
}

.in-article-image-container {
  padding: 20px 0px; 
}
.in-article-image {
  max-width: 100%;
}
.article-header {
  margin-bottom: 30px;
}

.article-breadcrumb {
  font-size: 1em;
}
}

@media all and (max-width: 1200px) {
  #home-callout {
    font-size: 2.5em;
  }
  
  .home-article-item {
    font-size: 1.5em;
  }
}